{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Flasky{% endblock %}

{% block css_styles %}
<style type="text/css">
    .text{
        margin-right:4%;
        width:35%;
        overflow:auto;
        display:inline
    }
    .comment_text{
        width:20%;
        overflow:auto;
        display:inline
    }
    #text_lines{
        overflow: auto;
        height: 300px;
    }
    #uploadFile{
        display:none;
    }
</style>
{% endblock %}

{% block page_content %}
    <div id="uploadForm">
        <input id="uploadFile" type="file" name=file/>
        <button id="uploadBtn" class="btn btn-primary" type="button">上传</button>
        <button id="convertBtn" class="btn btn-primary" type="button">转换</button>
        <button id="exportBtn" class="btn btn-primary" type="button">导出</button>
        <div class="h2 text-center" id="fileName"></div>
    </div>
<div id="edit_area" style=";margin-bottom:10px;">
    <textarea id="original_text" class="form-control text" rows="10">
    </textarea>
    <textarea id="vernacular_text" class="form-control text" rows="10">
    </textarea>
    <textarea id="comment" class="form-control comment_text " rows="10">
    </textarea>
</div>
<h3>生成表格</h3>
<div id="text_lines" >
     <table class="table table-striped table-condensed">
        <thead>
            <tr>
                <td>原文</td>
                <td>白话文</td>
                <td>注释</td>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>

{% endblock %}

{% block subscripts %}
<script>
$(document).ready(function(){
  textAreaDataInit();
  textAreaScrollBind();
  textAreaChangeBind();
  $('#uploadFile').on("change", function(e){
        var name = e.currentTarget.files[0].name;
        $("#fileName").text(name);
        var formData = new FormData();
        formData.append('file', $('#uploadFile')[0].files[0]);
        $.ajax({
            url: "{{ url_for('main.upload') }}",
            type: 'POST',
            cache: false,
            data: formData,
            processData: false,
            contentType: false
        }).done(function(res) {
            var data = JSON.parse(res)
            if(data.success == 'true'){
                var origin = JSON.stringify(data.parts.origin).replace(/\\r\\n/g, '<br/>');
                var vernacular = JSON.stringify(data.parts.vernacular).replace(/\\r\\n/g, '<br/>');
                var comment = JSON.stringify(data.parts.comment).replace(/\\r\\n/g, '<br/>');
                $("#original_text").html(origin);
                $("#vernacular_text").html(vernacular);
                $("#comment").html(comment);
            } else {
                alert(data.message);
            }
        }).fail(function(res) {});
  });

  $("#uploadBtn").on('click', function(e){
        e.preventDefault();
        $('#uploadFile').trigger('click');
  });
});
function textAreaDataInit(){
    $("textarea").each(function(){
        var id = $(this).attr("id");
        if(id in localStorage){
            $(this).val(localStorage[`${id}`]);
        }else{
            localStorage.setItem(id,$(this).val());
        }
    });
}
function textAreaScrollBind(){
   function scrollByOriginal_text(id,current){
        var elem = $(`#${id}`);
        var maxHeight = elem[0].scrollHeight -elem.outerHeight();
        elem.scrollTop(maxHeight*current);
    }
   $("#original_text").scroll(function() {
        var height = $(this)[0].scrollHeight - $(this).outerHeight();
        var current = $(this).scrollTop()/height;
        scrollByOriginal_text("vernacular_text",current);
        scrollByOriginal_text("comment",current);
        scrollByOriginal_text("text_lines",current);
  });
}

function textAreaChangeBind(){
    $("textarea").each(function(){
        $(this).on('input propertychange', function() {
            var id=$(this).attr("id");
            localStorage.setItem(id,$(this).val());
        });
    });
}
</script>
{% endblock %}
