{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Flasky{% endblock %}

{% block page_content %}
<div class="row">
    <div class="col-md-4">
        <textarea rows="3" cols="20"></textarea>
    </div>
    <div class="col-md-4">
        <textarea rows="3" cols="20"></textarea>
    </div>
    <div class="col-md-4">
        <textarea rows="3" cols="20"></textarea>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <textarea rows="3" cols="20"></textarea>
    </div>
    <div class="col-md-4">
        <textarea rows="3" cols="20"></textarea>
    </div>
    <div class="col-md-4">
        <textarea rows="3" cols="20"></textarea>
    </div>
</div>

{% endblock %}
