{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Flasky{% endblock %}

{% block css_styles %}
<style type="text/css">
    .text{
        float:left;
        margin-right:5%;
        margin-bottom:10px;
        border:1px solid black;
        width:35%;
        height:200px;
        overflow:auto
    }
    .comment_text{
        float:left;
        margin-bottom:10px;
        border:1px solid black;
        width:20%;
        height:200px;
        overflow:auto
    }
</style>
{% endblock %}

{% block page_content %}
    <div id="original_text" class="text">
        This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text.
    </div>
    <div id="vernacular_text" class="text">
        This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text.
    </div>
    <div id="comment" class="comment_text">
        This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text.
    </div>
    <div id="original_lines" class="text">
        This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text.
    </div>
    <div id="vernacular_lines" class="text">
        This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text.
    </div>

    <div id="comment_lines"  class="comment_text">
        This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text.
    </div>
{% endblock %}

{% block subscripts %}
<script>
$(document).ready(function(){
  $("#original_text").scroll(function() {
     var height = $(this)[0].scrollHeight - $(this).outerHeight();
     var current = $(this).scrollTop()/height;
     console.log(current);
  });
  $("#uploadBtn").on('click', function(){
        var formData = new FormData();
        formData.append('file', $('#uploadFile')[0].files[0]);
        $.ajax({
            url: "{{ url_for('main.upload') }}",
            type: 'POST',
            cache: false,
            data: formData,
            processData: false,
            contentType: false
        }).done(function(res) {
            var data = JSON.parse(res)
            var origin = JSON.stringify(data.parts.origin).replace(/\\r\\n/g, '<br/>')
            $("#original_text").html(origin);
        }).fail(function(res) {});
    })
});
</script>
{% endblock %}
